.collect {
  width: 100%;
  display: flex;
}

.collect-left {
  width: 100%;
  max-width: calc(880 / 1920 * 100%);
  /* width: 46%; */
  background: url(../img/collect-bg.png) no-repeat center 0 / cover;
}

.collect-right {
  width: 100%;
  max-width: 54%;
  background: #000;
  padding: 100px 0;
  text-align: center;
}

.collect-right__text {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin: 80px auto 60px;
  max-width: calc(471 / 1040 * 100%);
}

.collect-right__btn {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 28px;
  border: 1px solid #FFFFFF;
}

@media (max-width: 1400px){
    .collect-right__text{
       max-width: 80%;
    }
}

@media (max-width: 992px){
    .collect-left{
        display: none;
    }
    
    .collect-right{
        max-width: 100%;
        padding: 60px 0;
    }
}

@media (max-width: 576px){
    .collect-right__btn{
        font-size: 13px;
        padding: 10px 20px;
    }
    
    .collect-right__text {
        max-width: 90%;
        font-size: 13px;
        margin: 60px auto 30px;
    }
}